body {
  font-family: 'Open Sans', sans-serif;
}

.app {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
  font-family: Roboto;
}

.nomargin {
  padding: 0px;
  margin: 0px;
}



